<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %} INDEX | QA{% endblock %}}</title>
  </head>
  <body>
   {% block content %}
    GO TO <a href='{% url 'QA:test' %}'> test/</a> page.
   {% endblock %}
  </body>
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

 {% block javascript %}{% endblock %}  

</html>
