{% extends 'index.html' %}

{% block title %}
  Test | QA
{% endblock %}
{% block content %}
    <h3> {{Q_stmt}}</h3>

    <form action="" method="POST" class='que_form'>
      {% csrf_token %}
    {% if Q_type == 'MCQ'%}
      <p><input type="radio" name='choice' value='1'> {{ Q_choice.option1 }}</input></p>
      <p><input type="radio" name='choice' value='2'>{{ Q_choice.option2}}</input></p>
      <p><input type="radio" name ='choice' value='3'>{{ Q_choice.option3 }}</input></p>
      <p><input type="radio" name = 'choice' value='4'>{{ Q_choice.option4 }}</input></p>
      <!-- <input type="radio" name = 'choice'>{{ Q_choice.option1 }}</input> -->
    {% else %}
      <input  type="number" name="choice" value="" placeholder="Your Ans ">
    {% endif %}
    <input  type="submit" name="submit" value="submit">
  </form>

{% endblock %}

{% block javascript %}
<!-- Implement here the ajax call  -->

{% endblock %}
