<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Score | QA</title>
  </head>
  <body>

        <h2>Total Questions attempted  :  {{attempts}}</h2>
        <h2>Total Score  :  {{score}}</h2>
        <br>
        {% url 'QA:test' 1 as the_url %}
        
        <h4><a href= {{the_url}}  >Take Test Again..</a></h4>

  </body>
</html>
